#root {
  height: 100vh;
}

.prose {
  --tw-prose-body: #374151;
  --tw-prose-headings: #111827;
  --tw-prose-lead: #4b5563;
  --tw-prose-links: #111827;
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-code: #111827;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgba(0,0,0,.5);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
  font-size: 1rem;
  line-height: 1.75;
}

.prose {
  color: var(--tw-prose-body);
  max-width: 65ch;
}

.disabled\:text-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(172,172,190,var(--tw-text-opacity));
}

.shadow-xs, .shadow-xxs {
  box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}

.shadow-xs {
  --tw-shadow: 0 0 15px rgba(0,0,0,.1);
  --tw-shadow-colored: 0 0 15px var(--tw-shadow-color);
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgba(86,88,105,var(--tw-text-opacity));
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.avatar {
  width: 30px;
  height: 30px;
  text-align: center;
  background: #9C27B0;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
